<div style="height: 100%; background-color:rgba(0.0,0.0,0.0,0.0);" class="bngApp beamlrui">

<style>
::placeholder {
	color: white;
	font-size:16px;
}

.toggleon{
	border-color:#FF6600;
	border-width:3px;
	border-style:solid;
}

.toggleoff{

}

</style>

<!--
<img ng-if="showMenu == false" src="/ui/modules/apps/beamlrui/background.png" width=100% height=8% style="z-index:-1; transform:translate(0px,-2px);"/>
<img ng-if="showMenu == true" src="/ui/modules/apps/beamlrui/background.png" width=100% height=100% style="z-index:-1; transform:translate(0px,-2px);"/>
-->
<div style="z-index:999; position:relative;">

<pre style="display:block; height:35px; background-color:rgba(0.0,0.0,0.0,0.6); margin:0; transform:translate(0px,-2px);">
<button ng-click="showMenuClick()" ng-if="showMenu" style="position:absolute; left:3px; top:3px;" >▲</button>
<button ng-click="showMenuClick()" ng-if="showMenu==false" style="position:absolute; left:3px; top:3px;" >▼</button>
<h1 ng-if="beamlrData['waitmsg'] != true" width=100% height=100% style="line-height:10px; position:absolute; left:50%; top:-2px; transform: translate(-50%,0%)">BeamLR Main Menu</h1>
<h1 ng-if="beamlrData['waitmsg'] == true" width=100% height=100% style="line-height:10px; position:absolute; left:50%; top:-2px; transform: translate(-50%,0%)">Loading. Please Wait.</h1>
</pre>


<div style="height: 420px; background-color:rgba(0.0,0.0,0.0,0.6); transform:translate(0px,-2px);" ng-if="showMenu" >

<table style="margin-left:auto; margin-right:auto; margin-bottom:0; table-layout:fixed; ">
<tr style="height:80px;">
<td style="width:75px; text-align:center;" ng-repeat="button in menuButtons">
<img ng-click="menuClick(button.id)" ng-attr-src="/ui/modules/apps/beamlrui/{{button.svg}}" width=72px height=72px />
</td>
</tr>
<tr style="height:10px;">
<td style="margin-top:2px; width:75px; text-align: center; vertical-align:top; line-height:18px;" ng-repeat="button in menuButtons">{{button.name}}</td>
</tr>
</table>

<div ng-if="menuPage==0">
<h3 style="text-align:center; line-height:0px;"> Main Menu </h3>

<div style="margin-left: 5px; margin-right: 5px; overflow:scroll; overflow-y:scroll; max-height:250px; max-width:500px; background-color:rgba(0,0,0,0.5);" >

<h2 style="text-align:center;">
Welcome to BeamLR<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
This is a work in progress mod. Remember to back up the BeamLR folder to safekeep your progress.<br><br> <span style="font-weight:bold;">Thank you for testing this mod!</span>
</p>

<h2 style="margin-left:10px; margin-right:10px; text-align:center;">
Special thanks to donors!
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center; font-size:17px; font-weight:bold;">
Luka Rupnik (fabio)<br>
Dimitriu Dragos-Alexandru (rapturereaperALEX)<br>
Bartosz Falba (enouqh)<br>
Mikołaj Bartosz Kuliński<br>
Gál Ádám (Buksikutya77)<br>
Petr Brůžek (NikdoNicNevi)<br>
Jukka-Pekka Tuppurainen<br>
Lauri Kabur<br>
Liam Wood (liamwood15)<br>
Benjamin Rogers (thisvelologist)<br>
Leon Makepeace<br>
Ethan Rapp<br>
Mattia Morris (Mattia83)<br>
Michael Mckinley<br>
</p>

<h2 style="text-align:center;">
How to play<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
BeamLR brings gameplay through interactive areas added to the map, each area allowing for various actions.<br><br>

Interactive areas are shown using floating "collectible" markers. Here are the currently implemented areas:
</p>

<ul>
<li>Player Garage</li>
<li>Gas Station</li>
<li>Repair Shop</li>
<li>Car Shop</li>
<li>Mission Giver / Part Shop</li>
<li>Race Clubs</li>
<li>Daredevil Challenges</li>
</ul>


<h3 style="text-align:center;">
Player Garage<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
The player garage is where your vehicles are stored.<br>
Purchased or won vehicles are sent to your garage.<br><br> 
You can call a mechanic for on site repairs at a higher cost.<br>
Destroyed vehicles can be scrapped for money.<br>
Towing will place your vehicle at the garage.<br><br>

From the player garage you can also perform part edits, tuning and painting using the BeamLR Menu.<br>
Vehicle must be fully repaired. <br>
</p>

<h3 style="text-align:center;">
Gas Station<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Gas stations are used to refuel your vehicle. <br><br>
Gas price can be different for each station. It will also fluctuate daily.<br><br>
Newly purchased vehicles have empty gas tanks.<br><br>
Be careful not to run out of gas!
</p>

<h3 style="text-align:center;">
Repair Shop<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Repair shops allow you to repair your vehicles at a cheaper cost than on site repairs. Repair cost depends on extent of external and mechanical damage.<br><br>
You can also perform part edits, tuning and painting using the BeamLR menu. Vehicle must be fully repaired.<br><br>

Nitrous oxide bottles can be refilled at repair shops for a static price.<br>

</p>

<h3 style="text-align:center;">
Car Shop<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Car shops offer a daily restocked selection of vehicles for you to purchase. Sleep until next day to renew the selection.
Different shops may offer different stock and only sell some types of vehicles like used or new cars.<br><br>

Used vehicles have price values that follow the odometer value of the vehicle. Higher odometer means cheaper price.<br><br>

It is also possible to sell your vehicles at the shop. This mechanic is not fully implemented so current prices may not be fair.<br><br>

</p>

<h3 style="text-align:center;">
Mission Giver / Part Shop<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
The mission giver area is used to earn risk free money with simple delivery missions. This is where you can earn easy money.<br><br>
The area doubles as a part shop. Parts for your current vehicle can be purchased using the BeamLR menu.<br>
Purchased parts are sent to your part inventory and become available in the part edit menu.<br><br>
Note that all parts that potentially fit your vehicle are available for purchase.<br>Some parts may require other parts to be installed<br><br>
&#9888; symbol and yellow slot name indicate parts that won't currently fit your vehicle (ex: i6 parts don't fit in a v8).<br><br>
Click slot names to switch to internal name display. Internal names contain engine type (i6, v8, etc).<br><br>

Part shops have specific daily price changes as a percentage paid relative to regular price.<br><br>
Each shop can have a different daily price scale. Shops also have different range for this scale.<br><br>
Buying parts outside part shops is considered a remote purchase which is 150% of regular price.<br><br>
</p>


<h3 style="text-align:center;">
Race Clubs<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Race clubs deliver the main gameplay for this mod. This is where you find race events.
Different race clubs give different styles of races such as drag and dirt/offroad races.<br><br>

Race leagues provide a degree of progression to race clubs. Bronze league has slow opponents while Gold league has race configs.
Wagers and rep rewards increase with opponent difficulty as you progress through leagues.<br><br>

Reputation is used for vehicle sell price scaling and to unlock track events.<br><br>
A small amount of reputation is lost every day. To keep your rep up you must perform races or challenges.<br><br>

The final league for a club is called the "Hero" league. This league is endless and has no progression, with randomized opponents to make races replayable.<br><br>

Some races will deactivate traffic while others leave it on. Races with traffic are generally more risky and random.<br><br>

Some races will allow you to wager your vehicle "pink slips". After losing you will have to walk home or pay for a bus ride. Won vehicles are sent to your garage.<br><br>

For money races you can set a target wager using the options menu.<br><br>
If your bet is out of range for current opponent, race wager will be capped by opponent minimum and maximum.<br><br>
</p>

<h3 style="text-align:center;">
Daredevil Challenges<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Daredevil Challenges area is used to wager money on various risky challenges.<br><br>
Challenges will award rep and money upon completion.<br><br>
Pay attention to challenge parameters to make sure your vehicle is capable of completing the challenge!<br><br>
</p>

<h2 style="text-align:center;">
Police, Tickets and Impounding<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Police vehicles can chase after and arrest you for various offenses. Each offense adds cost to your ticket. 
If you are caught and can't pay your ticket, your vehicle will be "impounded".<br><br>

Currently the impound mechanic works using the player garage. Impounded vehicles will be unavailable until you pay the outstanding ticket cost.<br><br>


Drive carefully!<br><br>
</p>

<h2 style="text-align:center;">
Health and Fatal Crashes<br>
</h2>

<h3 style="text-align:center;">
Note: Health feature is temporarily disabled but fatal crashes are still possible!<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Hard crashes (above 15G) will injure the player. Very hard crashes (above 80G) can be instantly fatal.<br><br>
Player Health is indicated in the stats UI.<br>If health drops to 0% your career will be reset.<br><br>

To restore health use the "Sleep/Heal" button in the stats UI. Sleep time can be set in the Options menu.<br><br>
Health value will also undergo a slow passive regeneration.<br><br>

Career can also be reset and backed up or restored using the Options menu.<br><br>

Drive carefully and keep an eye out for your health value after crashing!<br><br>
</p>

<h2 style="text-align:center;">
Career Parameters<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Career start difficulty and seed parameters can be changed from the options menu. All career related settings take effect after a career reset.<br><br>

Difficulty setting changes starting money amount.<br><br>

Career seed is used for the many RNG elements of the mod including starting vehicle, fluctuating prices and daily available shop vehicles.<br><br>

Seed can be set to auto increment on career reset to constantly get a new seed. It can also be set manually.<br><br>
</p>




<h2 style="text-align:center;">
Track Events<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Version 1.10 adds multi round and multi opponent track events that can be entered using the added menu pages.<br><br>

Keep in mind this is the first iteration of this system, some features may change and more events will be added in future versions.<br><br>

Race events work using a lightweight event loader flowgraph project. They work a bit differently than regular career: 
</p>

<ul style="margin-left:10px; margin-right:10px; text-align:left;" >
<li>Regular health is disabled</li>
<li>Fatal crashes are still possible at higher needed G force</li>
<li>Vehicle damage does not carry over to and from career</li>
<li>Repairs and refuels are free but do not carry over to career</li>
<li>Vehicle must be fully repaired and pass event inspection before joining</li>
<li>Vehicle used for current event cannot be sold, scrapped or edited</li>
</ul>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Event inspection requirements can involve performance class, powertrain layout, induction type, vehicle brand and model.<br><br>

Track events can be started from their respective level (see maps on github for mission loader location). <br><br>

Once a round is started it cannot be restarted. Giving up a round comes with a heavy time penalty. <br><br>

If you crash, some tracks have a pit lane allowing for repair and refuel to tuning fuel load. <br><br>

Time penalties will be added for shortcuts and pit lane overspeed. Penalty time is added to total time at round end. <br><br>

Race leaderboard is sorted by smallest total time at the end of each event. <br><br>

Events usually reward 1st, 2nd and 3rd position money and rep. More special rewards can go to 1st position. <br><br>

Opponent names are randomly selected from the <span style="font-weight:bold;">beamLR/opnames</span> file which can be edited with custom names. <br><br> 

Track events use randomized parameters for replayability, such as opponent config choice and count, time of day, lap and round count as well as rewards.<br><br>

Each event has a unique seed which changes daily and after event completion. Sleep to next day to refresh event parameters.<br><br>
</p>


<h2 style="text-align:center;">
Advanced Vehicle Building<br>
</h2>

<p style="text-align:center;">
Added in 1.13, Advanced Vehicle Building allows for a more realistic or SLRR-like vehicle building experience.<br><br>
When enabled parts no longer spawn with default sub-parts installed. Removing parts will add sub-parts to your inventory.<br><br>
Turning on the feature will also allow you to sell parts using the Edit Car menu. Value is indicated above the sell button.<br><br>
This feature is experimental and may still contain bugs and other weird issues. Use at your own risk and as always remember to back up your career files<br><br>
BeamNG is not built to properly handle this feature. Engines missing important parts (intake, long block, manifold, ECU) will still be running.<br><br>
The feature can be enabled throug the options menu. It is recommended to reset your career after changing this setting to avoid issues.<br><br>
This feature is not recommended for casual players. It will make part edits more confusing and time consuming.<br><br>
Tip: if your vehicle isn't moving after engine swap, check that drivetrain related part are not missing (driveshaft, halfshafts, transmission, etc).<br><br>
Tip: when adding the pickup tow hitch (roamer also uses it) the ball hitch itself is under a slot called "Attachment" and must be added to accept trailer missions.<br><br>
</p>

<h2 style="text-align:center;">
Part Specific Repairs<br>
</h2>

<p style="text-align:center;">
Added in version 1.14 part specific repairs adds a menu allowing players to choose which parts to repair. <br><br>
Damaged parts that aren't repaired will be removed from the vehicle config and will not be added to inventory. <br><br>
Some parts must be repaired such as mechanical damage and the vehicle 'main' part and cannot be deselected. <br><br>
To repair a sub-part, damaged parent parts must be repaired and will be force selected if an attached sub-part is selected for repair. <br><br>
Undamaged sub-parts removed by a damaged parent part will be added to the part inventory. <br><br>
When repairing your vehicle from the player garage an on-site mechanic fee is added to the repair cost.<br><br>
</p>


<h2 style="text-align:center;">
Various Tips<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
If you see "Loading. Please Wait." on the BeamLR Menu, do not spam buttons. Some actions take a bit of time to process.<br><br>
Don't like available shop vehicles?<br> Sleep until the next day to get new stock.<br><br>
Keep in mind you lose some amount of reputation every in game day. Perform races or challenges to keep your rep up!<br><br>
BeamLR menu having issues?<br> Hit CTRL+F5 to refresh the UI.<br><br>
Input fields may stop registering keystrokes if the mouse cursor isn't hovering.<br><br>
You can rename vehicles using the Options menu<br><br>
There may be beamstate issues with "advanced couplers" vehicles with animated doors and hood hinges.<br> Repair after spawn to fix the issue.<br><br>
Vehicle stuck upside down?<br> Nodegrabber is enabled with restricted force for this purpose.<br><br>
Bad performance with lots of traffic?<br> Use the Options menu to change traffic density.<br><br>
Options menu can be used to change the random seed for the next career. Current seed can be changed by editing the "options" file.<br><br>
There is currently no autosave mechanic. If you forcefully quit the game some progress may be lost.<br><br>
Having trouble getting around the map?<br> Install a GPS in your vehicle (or force enable GPS UI in the options menu)<br><br>
</p>

<h2 style="text-align:center;">
Known Issues<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Here are some known issues with this mod, please refer to this list before reporting problems.

<ul>
<li>
As of BeamNG version 0.28 beamstate loading is broken and thus disabled by default. 
This is a known issue and should be fixed in a future update.
Beamstate can be re-enabled from the option menu at your own risk. 
This will likely cause issues and game crashes.
</li>
<li>
Some tuning configurations can cause unfair damage when a vehicle is loaded. A workaround is implemented but may fail to work in certain situations.
</li>
<li>
Various UI problems, input fields stop registering keystrokes, whole UI can refuse to work. Workaround is to keep cursor above input fields. CTRL+F5 to fix the frozen UI.
</li>
<li>
Some users report odometer reset during part edits. Can be caused by pausing the game during part edits.
</li>
<li>
Some vehicles had erratic G force readings when damaged, causing sudden health drop. Fix added in 1.10 update.
</li>


</ul>

</p>


</div>

</div>

<div ng-if="menuPage==1" style="">
<h3 style="text-align:center; line-height:0px;"> Options </h3>

<div style="margin-left: 5px; margin-right: 5px; overflow:scroll; overflow-y:scroll; max-height:250px; max-width:500px; background-color:rgba(0,0,0,0.5)">

<h3 style="text-align:center; margin-top:5px; margin-bottom:5px;">&nbsp General </h3>

<p style="text-align:center;"> 
Player Name 
<input type="text" ng-model="inputData.name" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setNameClick()">Set</button>
</p>

<p style="text-align:center;"> 
Vehicle Name 
<input type="text" ng-model="inputData.vehname" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setVehNameClick()">Set</button>
</p>

<p style="text-align:center;"> 
Sleep Duration (Hours)  
<input type="number" max=24.0 min=0.5 step=0.5 size=5 maxlength=5 ng-model="inputData.sleepTime" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setSleepDuration(inputData.sleepTime)">Set</button>
</p>


<span style="float:left; transform:translate(40px, 0px)">Target Wager &nbsp </span>
<span>
<md-slider flex style="width:150px; transform: translate(150px, -10px); " min="100" max="10000" step="5" ng-model="inputData.targetWager" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()">
</md-slider>
</span>
<span style="float:right; transform:translate(-100px, -45px); width:50px">${{inputData.targetWager}}</span>
<span style="float:right; transform:translate(0px, -45px)">
<button ng-click="setTargetWager(inputData.targetWager)">Set</button>
</span>


<p style="text-align:center; transform:translate(40px,-20px); width:350px;"> 
Race Opponent Random Paint
<button ng-class="inputData.raceRandPaint == 1 ? 'toggleon' : 'toggleoff'" ng-click="setOpponentRandomPaint(1)">On</button>
<button ng-class="inputData.raceRandPaint == 0 ? 'toggleon' : 'toggleoff'" ng-click="setOpponentRandomPaint(0)">Off</button>
</p>

<p style="text-align:center; margin-top:5px; margin-bottom:5px;">Time scale requires scenario restart to take effect</p>

<p style="text-align:center; margin-top:5px; margin-bottom:5px;"> 
Time Scale 
<input type="number" max=100.0 min=1.0 step=0.1 size=5 maxlength=5 ng-model="inputData.timeScale" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setTimeScale(inputData.timeScale)">Set</button>
</p>

<p style="text-align:center; margin-top:15px; margin-bottom:15px; margin-left:20px; margin-right:20px;">
Default GPS mode shows GPS UI if vehicle has a GPS installed. Always On ignores part check. Regardless of setting GPS UI will be hidden in certain situations.
</p>


<p style="text-align:center; transform:translate(60px,0px); width:350px;"> 
GPS Mode
<button ng-class="inputData.gpsmode == 0 ? 'toggleon' : 'toggleoff'" ng-click="setGPSMode(0)">Default</button>
<button ng-class="inputData.gpsmode == 1 ? 'toggleon' : 'toggleoff'" ng-click="setGPSMode(1)">Always On</button>
<button ng-class="inputData.gpsmode == 2 ? 'toggleon' : 'toggleoff'" ng-click="setGPSMode(2)">Always Off</button>
</p>

<p style="text-align:center; transform:translate(60px,0px); width:350px;"> 
Dragstrip Cinematic Finish
<button ng-class="inputData.dragslowmo == 1 ? 'toggleon' : 'toggleoff'" ng-click="toggleDragSlowmo(1)">On</button>
<button ng-class="inputData.dragslowmo == 0 ? 'toggleon' : 'toggleoff'" ng-click="toggleDragSlowmo(0)">Off</button>
</p>

<p style="text-align:center; transform:translate(60px,0px); width:350px;"> 
Show Groundmarkers
<button ng-class="inputData.gmtoggle == 1 ? 'toggleon' : 'toggleoff'" ng-click="toggleGroundmarkers(1)">On</button>
<button ng-class="inputData.gmtoggle == 0 ? 'toggleon' : 'toggleoff'" ng-click="toggleGroundmarkers(0)">Off</button>
</p>

<p style="text-align:center; transform:translate(60px,0px); width:350px;"> 
Show Floating Markers
<button ng-class="inputData.fmtoggle == 1 ? 'toggleon' : 'toggleoff'" ng-click="toggleMarkers(1)">On</button>
<button ng-class="inputData.fmtoggle == 0 ? 'toggleon' : 'toggleoff'" ng-click="toggleMarkers(0)">Off</button>
</p>

<h3 style="text-align:center;"> Career </h3>

<p style="text-align:center;"> 
Current Career Seed: {{beamlrData['seed']}}
</p>

<p style="text-align:center;">  Next seed takes effect after career reset </p>

<p style="text-align:center;"> 
Next Seed
<input type="text" maxlength=10 size=11 ng-model="inputData.seed" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setSeed()">Set</button>
<button ng-click="setRandomSeed()">Random</button>
</p>

<p style="text-align:center; margin-top:15px; margin-bottom:15px; margin-left:20px; margin-right:20px;">
Auto Increment Seed adds 1 to current seed for next seed used after career reset.
</p>

<p style="text-align:center;"> 
Auto Increment Seed 
<button ng-class="inputData.autoseed == 1 ? 'toggleon' : 'toggleoff'" ng-click="setAutoSeed(1)">On</button>
<button ng-class="inputData.autoseed == 0 ? 'toggleon' : 'toggleoff'" ng-click="setAutoSeed(0)">Off</button>
</p>

<br>

<p style="text-align:center;">Difficulty takes effect after career reset</p>

<p style="text-align:center;"> 
Difficulty Level
<button ng-class="inputData.difficulty == 'easy' ? 'toggleon' : 'toggleoff'" ng-click="setDifficulty('easy')">Easy</button>
<button ng-class="inputData.difficulty == 'medium' ? 'toggleon' : 'toggleoff'" ng-click="setDifficulty('medium')">Medium</button>
<button ng-class="inputData.difficulty == 'hard' ? 'toggleon' : 'toggleoff'" ng-click="setDifficulty('hard')">Hard</button>
</p>

<br>

<p style="text-align:center;">Using a custom wager and rep scale will affect<br>career difficulty and progress rate</p>

<p style="text-align:center;"> 
Race wager scale
<input type="number" max=5.0 min=0.5 step=0.1 size=5 maxlength=4 ng-model="inputData.wagerscl" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setWagerScale(inputData.wagerscl)">Set</button>
</p>

<p style="text-align:center;"> 
Race reputation scale
<input type="number" max=5.0 min=0.5 step=0.1 size=5 maxlength=4 ng-model="inputData.repscl" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setRepScale(inputData.repscl)">Set</button>
</p>

<br>

<p style="text-align:center;">
Career backup is automatically saved in <br><span style="font-weight:bold;">userfolder/beamLR/backup</span><br> when you stop the mission
</p>
<p style="text-align:center;">
Load Career Backup
<button ng-click="restoreBackup()">Load</button>
</p>

<br>

<p style="text-align:center; color:yellow;"> 
Reset Career (WARNING: PERMANENT)
<button ng-if="resetConfirm == false" ng-click="resetCareer()">Reset Career</button>
<button ng-if="resetConfirm == true" ng-click="resetCareer()">Confirm Reset?</button>
</p>

<br>

<h3 style="text-align:center;"> User Interface </h3>

<p style="text-align:center; margin-top:15px; margin-bottom:15px; margin-left:20px; margin-right:20px;">
IMGUI scale parameter can be used to increase interactive menu sizes when playing at high resolution.
UI app scaling can be changed from the BeamNG options menu.
</p>

<p style="text-align:center; margin-top:5px; margin-bottom:5px;"> 
IMGUI Scale
<input type="number" max=10.0 min=0.01 step=0.01 size=5 maxlength=5 ng-model="inputData.imguiScale" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setIMGUIScale(inputData.imguiScale)">Set</button>
</p>

<p style="text-align:center; margin-top:15px; margin-bottom:15px; margin-left:20px; margin-right:20px;">
IMGUI layout will store menu positions, sizes and docking states. Remember to save the layout immediately after making changes.
This feature is especially useful when using a custom IMGUI scale.
</p>

<p style="text-align:center; margin-top:5px; margin-bottom:5px;"> 
IMGUI Layout
<button ng-click="saveIMGUI()">Save</button>
<button ng-click="loadIMGUI()">Load</button>
</p>

<p style="text-align:center; margin-top:15px; margin-bottom:15px; margin-left:20px; margin-right:20px;">
IMGUI Layout Autosave will save your menu layout when quitting.
</p>

<p style="text-align:center; margin-top:5px; margin-bottom:5px;"> 
IMGUI Layout Autosave
<button ng-class="inputData.imautosave == 1 ? 'toggleon' : 'toggleoff'" ng-click="autosaveIMGUI(1)">On</button>
<button ng-class="inputData.imautosave == 0 ? 'toggleon' : 'toggleoff'" ng-click="autosaveIMGUI(0)">Off</button>
</p>


<p style="text-align:center; margin-top:15px; margin-bottom:10px; margin-left:20px; margin-right:20px;">
Part Preview Scaling Mode
</p>

<p style="text-align:center; margin-top:5px; margin-bottom:5px;"> 
<button ng-class="inputData.imgmode == 0 ? 'toggleon' : 'toggleoff'" ng-click="setImageUIMode(0)">Original Size</button>
<button ng-class="inputData.imgmode == 1 ? 'toggleon' : 'toggleoff'" ng-click="setImageUIMode(1)">Scale To Fit</button>
</p>

<h3 style="text-align:center;"> Traffic </h3>

<p style="text-align:center;">  Requires scenario restart to take effect </p>

<p style="text-align:center;"> 
Traffic Density  
<button ng-class="inputData.traffic == 0 ? 'toggleon' : 'toggleoff'" ng-click="setTrafficDensity(0)">Off</button>
<button ng-class="inputData.traffic == 3 ? 'toggleon' : 'toggleoff'" ng-click="setTrafficDensity(3)">Light</button>
<button ng-class="inputData.traffic == 6 ? 'toggleon' : 'toggleoff'" ng-click="setTrafficDensity(6)">Medium</button>
<button ng-class="inputData.traffic == 10 ? 'toggleon' : 'toggleoff'" ng-click="setTrafficDensity(10)">Heavy</button>
<button ng-class="inputData.traffic == 18 ? 'toggleon' : 'toggleoff'" ng-click="setTrafficDensity(18)">Max</button>
</p>

<p style="text-align:center;"> 
Police Density 
<button ng-class="inputData.police == 0 ? 'toggleon' : 'toggleoff'" ng-click="setPoliceDensity(0)">Off</button>
<button ng-class="inputData.police == 1 ? 'toggleon' : 'toggleoff'" ng-click="setPoliceDensity(1)">Light</button>
<button ng-class="inputData.police == 2 ? 'toggleon' : 'toggleoff'" ng-click="setPoliceDensity(2)">Medium</button>
<button ng-class="inputData.police == 3 ? 'toggleon' : 'toggleoff'" ng-click="setPoliceDensity(3)">Heavy</button>
<button ng-class="inputData.police == 4 ? 'toggleon' : 'toggleoff'" ng-click="setPoliceDensity(4)">Max</button>
</p>

<p style="text-align:center;"> 
Truck Density 
<button ng-class="inputData.trucks == 0 ? 'toggleon' : 'toggleoff'" ng-click="setTruckDensity(0)">Off</button>
<button ng-class="inputData.trucks == 1 ? 'toggleon' : 'toggleoff'" ng-click="setTruckDensity(1)">Light</button>
<button ng-class="inputData.trucks == 2 ? 'toggleon' : 'toggleoff'" ng-click="setTruckDensity(2)">Medium</button>
<button ng-class="inputData.trucks == 3 ? 'toggleon' : 'toggleoff'" ng-click="setTruckDensity(3)">Heavy</button>
<button ng-class="inputData.trucks == 4 ? 'toggleon' : 'toggleoff'" ng-click="setTruckDensity(4)">Max</button>
</p>

<p style="text-align:center;"> 
Traffic Risk 
<input type="number" min=0 max=1 step=0.01 maxlength=10 size=5 ng-model="inputData.trisk" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setTrafficRisk(inputData.trisk)">Set</button>
</p>

<p style="text-align:center;"> 
Police Strictness
<input type="number" min=0 max=1 step=0.01 size=5 ng-model="inputData.copstrict" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setPoliceStrictness(inputData.copstrict)">Set</button>
</p>

<p style="text-align:center; width:450px; margin-left:auto; margin-right:auto;" >Race traffic default mode uses race file parameter. Using traffic for all races may negatively impact opponent skill.</p>

<p style="text-align:center; transform:translate(40px,0px); width:400px;"> 
Race Traffic
<button ng-class="inputData.rtmode == 0 ? 'toggleon' : 'toggleoff'" ng-click="setRaceTraffic(0)">Default</button>
<button ng-class="inputData.rtmode == 2 ? 'toggleon' : 'toggleoff'" ng-click="setRaceTraffic(2)">Always On</button>
<button ng-class="inputData.rtmode == 1 ? 'toggleon' : 'toggleoff'" ng-click="setRaceTraffic(1)">Always Off</button>
</p>

<p style="text-align:center; width:450px; margin-left:auto; margin-right:auto;" >Instant toggle traffic removes lag when spawning traffic after races & challenges. Prevents the game from freeing up RAM when traffic is disabled. Also reduces traffic diversity due to same vehicles always being used.<p>

<p style="text-align:center; transform:translate(40px,0px); width:400px;"> 
Instant Toggle Traffic 
<button ng-class="inputData.tfasttoggle == 1 ? 'toggleon' : 'toggleoff'" ng-click="setTrafficFastToggle(1)">On</button>
<button ng-class="inputData.tfasttoggle == 0 ? 'toggleon' : 'toggleoff'" ng-click="setTrafficFastToggle(0)">Off</button>
</p>

<p style="text-align:center; width:450px; margin-left:auto; margin-right:auto;" >Use this setting to manually toggle traffic for debug or testing purposes. Can be used to spawn new variants if Instant Toggle Traffic is off.<p>

<p style="text-align:center; transform:translate(40px,0px); width:400px;"> 
Manual Traffic Toggle
<button class="toggleoff" ng-click="trafficToggle(1)">On</button>
<button class="toggleoff" ng-click="trafficToggle(0)">Off</button>
</p>

<h3 style="text-align:center;"> Advanced </h3>

<p style="text-align:center;">  Use the "Fix Cops" button only if police chases player without pursuit UI showing. Do not use when pursuit UI is showing to avoid further bugs with police system.</p>

<p style="text-align:center;"> 
Manual Police Role Fix
<button ng-click="forcedCopfix()">Fix Cops</button>
</p>

<p style="text-align:center;">  Automatic fixing may impact performance with large amounts of police vehicles.</p>


<p style="text-align:center;"> 
Automatic Police Role Fix
<button ng-class="inputData.autoCopfix == 1 ? 'toggleon' : 'toggleoff'" ng-click="autoCopfix(1)">On</button>
<button ng-class="inputData.autoCopfix == 0 ? 'toggleon' : 'toggleoff'" ng-click="autoCopfix(0)">Off</button>
</p>


<p style="text-align:center;">  Use beamstate toggle to workaround issues with advanced couplers.</p>


<p style="text-align:center;"> 
Beamstate Toggle 
<button ng-class="inputData.bstoggle == 1 ? 'toggleon' : 'toggleoff'" ng-click="beamstateToggle(1)">On</button>
<button ng-class="inputData.bstoggle == 0 ? 'toggleon' : 'toggleoff'" ng-click="beamstateToggle(0)">Off</button>
</p>


<p style="text-align:center;">  Use below button to attempt coupler reset after beamstate loading breaks them (game may crash).</p>

<p style="text-align:center;"> 
Reset Advanced Couplers
<button ng-click="resetCouplers()">Reset</button>
</p>

<p style="text-align:center;">  
Advanced vehicle building allows part selling and a more realistic, SLRR-like part editing system.
Career reset is recommended after changing this parameter to avoid<br> issues such as corrupted vehicle configs.
</p>
<p style="text-align:center;">  Requires scenario restart to take effect. </p>

<p style="text-align:center;"> 
Advanced Vehicle Building
<button ng-class="inputData.avbtoggle == 1 ? 'toggleon' : 'toggleoff'" ng-click="avbToggle(1)">On</button>
<button ng-class="inputData.avbtoggle == 0 ? 'toggleon' : 'toggleoff'" ng-click="avbToggle(0)">Off</button>
</p>

<p style="text-align:center;">  
Advanced repair cost uses improved code for more accurate repair cost calculation, relying on broken/deformed beams<br>and part specific costs. Will likely result in higher repair costs especially for high end vehicles.
</p>

<p style="text-align:center;"> 
Advanced Repair Cost
<button ng-class="inputData.advrepaircost == 1 ? 'toggleon' : 'toggleoff'" ng-click="arcToggle(1)">On</button>
<button ng-class="inputData.advrepaircost == 0 ? 'toggleon' : 'toggleoff'" ng-click="arcToggle(0)">Off</button>
</p>

<p ng-if="inputData.advrepaircost == 1" style="text-align:center;">  
Advanced repair UI allows for part specific repairs.<br>Damaged parts will be removed unless repaired.<br>Removed damaged parts are not added to inventory.<br><br>This setting requires Advanced Repair Cost to be enabled.
</p>

<p ng-if="inputData.advrepaircost == 1" style="text-align:center;"> 
Advanced Repair UI
<button ng-class="inputData.useadvrepairui == 1 ? 'toggleon' : 'toggleoff'" ng-click="aruiToggle(1)">On</button>
<button ng-class="inputData.useadvrepairui == 0 ? 'toggleon' : 'toggleoff'" ng-click="aruiToggle(0)">Off</button>
</p>

<p style="text-align:center;">  
Part edit safe mode helps to prevent taking damage during part edits by temporarily increasing beam strength. Useful when removing wheels but can be kept off for most edits.
</p>

<p style="text-align:center;"> 
Part Edit Safe Mode
<button ng-class="inputData.gsafemode == 1 ? 'toggleon' : 'toggleoff'" ng-click="safeModeToggle(1)">On</button>
<button ng-class="inputData.gsafemode == 0 ? 'toggleon' : 'toggleoff'" ng-click="safeModeToggle(0)">Off</button>
</p>


<br>



</div>


</div>

<div ng-if="menuPage==2" style="">
<h3 style="text-align:center; line-height:0px;"> Buy Parts ({{beamlrData['shopPriceScale'] * 100.0 | number:0}}% Cost)</h3>

<div ng-if="(beamlrData['triggerState'] == 1 || beamlrData['triggerState'] == 2) && beamlrData['playerWalking'] == 0">

<div style="text-align:center; transform:translate(0, -5px);" >
<button ng-click="filter(0,'all')">All</button> 
<button ng-click="filter(0,'body')">Body</button> 
<button ng-click="filter(0,'engine')">Engine</button> 
<button ng-click="filter(0,'suspension')">Suspension</button> 
<button ng-click="filter(0,'wheel')">Wheel</button> 
<input style="width:75px" type="text" ng-model="inputData.searchFilter" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="search(0)">&#x1F50D</button>
</div>

<div style="margin-left: 5px; margin-right: 5px; overflow:scroll; overflow-y:scroll; max-height:210px; min-height:210px; max-width:500px; background-color:rgba(0,0,0,0.5);" >

<div ng-repeat="(id,key) in beamlrData['sortedShopSlots'] track by id">
<div ng-if="beamlrData['availParts'][key] != null && key != 'main'">

<div style="text-align:center; font-weight: bold; font-size:20px; width:100%; line-height:40px;" ng-if="beamlrData['slotNames'][key] != null && slotNameMode != 1">
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
<span ng-if="beamlrData['usedParts'][key] != null" style="text-align:center; transform:translate(20px, 0px);" ng-click="setSlotNameMode(1)"> {{beamlrData['slotNames'][key]}} </span>
<span ng-if="beamlrData['usedParts'][key] == null" style="text-align:center; transform:translate(20px, 0px); color:yellow;" ng-click="setSlotNameMode(1)"> {{beamlrData['slotNames'][key]}} &nbsp &#9888;</span>
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
</div>

<div style="text-align:center; font-weight: bold; font-size:20px; width:100%; line-height:40px;" ng-if="beamlrData['slotNames'][key] == null || slotNameMode == 1">
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
<span ng-if="beamlrData['usedParts'][key] != null" style="text-align:center; transform:translate(20px, 0px);" ng-click="setSlotNameMode(0)"> {{key}} </span>
<span ng-if="beamlrData['usedParts'][key] == null" style="text-align:center; transform:translate(20px, 0px); color:yellow;" ng-click="setSlotNameMode(0)"> {{key}} &nbsp &#9888;</span>
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
</div>

<div ng-if="visibleSlots[key] == true" style="margin-left:5px; line-height:100px;" ng-repeat="(pid,part) in beamlrData['sortedShopParts'][key] track by pid"> 
<div ng-if="beamlrData['availParts'][key][part] != null">

<span style="float:left; height:90px; transform:translate(0px, 5px);">
<img ng-click="imageClicked(beamlrData['partpreview'][part])" ng-if="beamlrData['partpreview'][part] != null" ng-attr-src="{{beamlrData['partpreview'][part]}}" width=90px height=90px />
<img ng-if="beamlrData['partpreview'][part] == null" src="/ui/modules/apps/beamlrui/partimg/none.png" width=90px height=90px />
</span>

<div ng-if="slotNameMode!=1">
<span ng-if="beamlrData['usedParts'][key] != part && (beamlrData['ownedParts'][part] == null || beamlrData['ownedParts'][part] == 0)" style="transform:translate(20px, 0px); display:inline-block; text-align:center; line-height:20px; width: 200px; margin-left:20px; vertical-align:middle; overflow-wrap:break-word;">{{beamlrData['partNames'][part]}}</span>
<span ng-if="beamlrData['usedParts'][key] != part && beamlrData['ownedParts'][part] > 0" style="transform:translate(20px, 0px); display:inline-block; text-align:center; line-height:20px; width: 200px; margin-left:20px; vertical-align:middle; overflow-wrap:break-word;">{{beamlrData['partNames'][part]}} (OWN {{beamlrData['ownedParts'][part]}})</span>
<span ng-if="beamlrData['usedParts'][key] == part" style="transform:translate(20px, 0px); display:inline-block; text-align:center; line-height:20px; width: 200px; margin-left:20px; vertical-align:middle; overflow-wrap:break-word;">{{beamlrData['partNames'][part]}} (INSTALLED)</span>
<span style="float:right; margin-right:5px; vertical-align:middle;">
<span ng-if="beamlrData['partPrices'][part] == null">${{beamlrData['partPrices']['default'] * beamlrData['shopPriceScale'] | number:2}}</span>
<span ng-if="beamlrData['partPrices'][part] != null">${{beamlrData['partPrices'][part] * beamlrData['shopPriceScale'] | number:2}}</span>
<button ng-click="shopPartClick(part)">Buy</button>
</span>
</div>

<div ng-if="slotNameMode==1">
<span ng-if="beamlrData['usedParts'][key] != part && (beamlrData['ownedParts'][part] == null || beamlrData['ownedParts'][part] == 0)" style="transform:translate(20px, 0px); display:inline-block; text-align:center; line-height:20px; width: 200px; margin-left:20px; vertical-align:middle; overflow-wrap:break-word;">{{part}}</span>
<span ng-if="beamlrData['usedParts'][key] != part && beamlrData['ownedParts'][part] > 0" style="transform:translate(20px, 0px); display:inline-block; text-align:center; line-height:20px; width: 200px; margin-left:20px; vertical-align:middle; overflow-wrap:break-word;">{{part}} (OWN {{beamlrData['ownedParts'][part]}})</span>
<span ng-if="beamlrData['usedParts'][key] == part" style="transform:translate(20px, 0px); display:inline-block; text-align:center; line-height:20px; width: 200px; margin-left:20px; vertical-align:middle; overflow-wrap:break-word;">{{part}} (INSTALLED)</span>
<span style="float:right; margin-right:5px; vertical-align:middle;">
<span ng-if="beamlrData['partPrices'][part] == null">${{beamlrData['partPrices']['default'] * beamlrData['shopPriceScale'] | number:2}}</span>
<span ng-if="beamlrData['partPrices'][part] != null">${{beamlrData['partPrices'][part] * beamlrData['shopPriceScale'] | number:2}}</span>
<button ng-click="shopPartClick(part)">Buy</button>
</span>
</div>

</div>

</div>

</div>
</div>

</div>
</div>

<div ng-if="beamlrData['playerWalking'] == 0">
<div ng-if="beamlrData['triggerState'] != 1 && beamlrData['triggerState'] != 2">
<h2 style="text-align:center;" > Get to a Shop or Garage! </h2>
</div>
</div>

<div ng-if="beamlrData['playerWalking'] != 0">
<h2 style="text-align:center;" > Cannot use while walking. </h2>
</div>


</div>

<div ng-if="menuPage==3" style="">
<h3 ng-if="editMode == 0" style="text-align:center; line-height:0px;"> Edit Car Parts </h3>
<h3 ng-if="editMode == 1" style="text-align:center; line-height:0px;"> Save/Load Config </h3>
<h3 ng-if="editMode == 2" style="text-align:center; line-height:0px;"> Edit Car Paint </h3>
<div ng-if="beamlrData['triggerState'] == 2 && beamlrData['playerDamage'] == 0 && beamlrData['playerWalking'] == 0 && beamlrData['vehicleRestricted'] != true" >

<div style="text-align:center; transform:translate(0, -5px);" >


	
<button ng-if="editMode == 0" ng-click="setEditMode(1)" style="width:40px; border-radius:10px; ">&#128190;</button>
<button ng-if="editMode == 1" ng-click="setEditMode(2)" style="width:40px; border-radius:10px; ">&#127912;</button> 
<button ng-if="editMode == 2" ng-click="setEditMode(0)" style="width:40px; border-radius:10px; ">&#128736;</button> 
<button ng-click="filter(1,'all')">All</button> 
<button ng-click="filter(1,'body')">Body</button> 
<button ng-click="filter(1,'engine')">Engine</button> 
<button ng-click="filter(1,'suspension')">Susp</button>
<button ng-click="filter(1,'wheel')">Wheel</button> 
<input style="width:75px" type="text" ng-model="inputData.searchFilter" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="search(1)">&#x1F50D</button>
</div>

<div ng-if="editMode == 0" style="margin-left: 5px; margin-right: 5px; overflow:scroll; overflow-y:scroll; max-height:210px; min-height:210px; max-width:500px; background-color:rgba(0,0,0,0.5);">

<div ng-repeat="(id,key) in beamlrData['sortedGarageSlots'] track by id">
<div ng-if="beamlrData['garageData'][key] != null && key != 'main'">

<div style="text-align:center; font-weight: bold; font-size:20px; width:100%; line-height:40px;" ng-if="beamlrData['slotNames'][key] != null && slotNameMode != 1">
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
<span style="text-align:center; transform:translate(25px, 0px);" ng-click="setSlotNameMode(1)"> {{beamlrData['slotNames'][key]}} </span>
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
</div>

<div style="text-align:center; font-weight: bold; font-size:20px; width:100%; line-height:40px;" ng-if="beamlrData['slotNames'][key] == null || slotNameMode == 1">
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
<span style="text-align:center; transform:translate(25px, 0px);" ng-click="setSlotNameMode(0)"> {{key}} </span>
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
</div>

<div ng-if="visibleSlots[key] == true && beamlrData['usedParts'][key] != ''" style="text-align:center; line-height:120px;">
<span style="float:left; margin-left:20px; transform:translate(0,15px); height:90px; vertical-align:middle;">
<img ng-click="imageClicked(beamlrData['partpreview'][beamlrData['usedParts'][key]])" ng-if="beamlrData['partpreview'][beamlrData['usedParts'][key]] != null" ng-attr-src="{{beamlrData['partpreview'][beamlrData['usedParts'][key]]}}" width=90px height=90px />
<img ng-if="beamlrData['partpreview'][beamlrData['usedParts'][key]] == null" src="/ui/modules/apps/beamlrui/partimg/none.png" width=90px height=90px />
</span>
<span ng-if="beamlrData['usedParts'][key] != item && slotNameMode != 1" style="display:inline-block; width: 150px; line-height:20px; vertical-align:middle; overflow-wrap:break-word;">{{beamlrData['partNames'][beamlrData['usedParts'][key]]}}</span>
<span ng-if="beamlrData['usedParts'][key] != item && slotNameMode == 1" style="display:inline-block; width: 150px; line-height:20px; vertical-align:middle; overflow-wrap:break-word;">{{beamlrData['usedParts'][key]}}</span>
<span style="float:right; margin-right:0px; width:120px; vertical-align:middle;">
<button ng-click="garagePartClick(key,'')" style="width:90px;" ng-disabled="beamlrData['mainpart']==beamlrData['usedParts'][key]">Remove</button>
</span>
</div>

<div ng-if="visibleSlots[key] == true">
<div ng-repeat="(pid,item) in beamlrData['sortedGarageParts'][key] track by pid" >
<div ng-if="beamlrData['garageData'][key][item] != null">
<div ng-if="beamlrData['usedParts'][key] != item" style="text-align:center; line-height:120px;" >
<span style="float:left; margin-left:20px; transform:translate(0,15px); height:90px; vertical-align:middle;">
<img ng-click="imageClicked(beamlrData['partpreview'][item])" ng-if="beamlrData['partpreview'][item] != null" ng-attr-src="{{beamlrData['partpreview'][item]}}" width=90px height=90px />
<img ng-if="beamlrData['partpreview'][item] == null" src="/ui/modules/apps/beamlrui/partimg/none.png" width=90px height=90px />
</span>

<span ng-if="slotNameMode != 1" style="display:inline-block; width: 150px; line-height:20px; vertical-align:middle; overflow-wrap:break-word;">{{beamlrData['partNames'][item]}} (OWN {{beamlrData['ownedParts'][item]}})</span>
<span ng-if="slotNameMode == 1" style="display:inline-block; width: 150px; line-height:20px; vertical-align:middle; overflow-wrap:break-word;">{{item}} (OWN {{beamlrData['ownedParts'][item]}})</span>

<span style="float:right; margin-right:0px; vertical-align:middle; width:120px; line-height:20px;">
<div ng-if="beamlrData['avbToggle'] == false" style="margin-top:46px;">
<button style="width:90px;" ng-click="garagePartClick(key,item)">Use</button>
</div>
<div ng-if="beamlrData['avbToggle'] == true" style="transform:translate(0px,5px);">
<table style="table-layout:fixed; width:">
<tr><td><button style="width:90px;" ng-click="garagePartClick(key,item)">Use</button></td></tr>
<tr ng-if="beamlrData['partPrices'][item] != null"><td>Sell value ${{beamlrData['partPrices'][item] * partSellScale | number:2}}</td></tr>
<tr ng-if="beamlrData['partPrices'][item] == null"><td>Sell value ${{beamlrData['partPrices']['default'] * partSellScale | number:2}}</td></tr>
<tr><td>
<button ng-if="partSellConfirm[item] == null || partSellConfirm[item] == false" style="width:90px;" ng-click="garagePartSell(item,beamlrData['partPrices'][item] * partSellScale)">Sell</button>
<button ng-if="partSellConfirm[item] == true && beamlrData['partPrices'][item] != null" style="width:90px;" ng-click="garagePartSell(item, beamlrData['partPrices'][item] * partSellScale)">Confirm</button>
<button ng-if="partSellConfirm[item] == true && beamlrData['partPrices'][item] == null" style="width:90px;" ng-click="garagePartSell(item, beamlrData['partPrices']['default'] * partSellScale)">Confirm</button>
</td></tr>
</table>
</div>
</div>
</span>
</div>
</div>
</div>

</div>

</div>
</div>



<div ng-if="editMode ==1" style="margin-left: 5px; margin-right: 5px; overflow:scroll; overflow-y:scroll; max-height:210px; min-height:210px; max-width:500px; background-color:rgba(0,0,0,0.5);">

<table style="width:95%; margin-left:20px; table-layout:fixed; text-align:center;">
<tr ng-repeat="(id, template) in beamlrData['vehicleTemplateList']" style="width:100%; height:50px;">
<td style="text-align:center; width:50%; font-size:20px;">{{template}}</td>
<td style="width:50%;"><button ng-click="loadTemplate(template)">Load</button>&nbsp &nbsp <button ng-click="saveTemplate(template)">Save As</button>&nbsp &nbsp <button ng-click="deleteTemplate(template)">Delete</button></td>
</tr>
<tr style="width:100%; height:50px;">
<td style="text-align:center; width:50%; font-size:20px;"><input style="width:100%;" type="text" ng-model="inputData.templateName" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" /></td>
<td style="width:50%; text-align:center;"><button ng-click="saveTemplate(inputData.templateName)">Save New Config</button></td>
</tr>
</table>

</div>



<div ng-if="editMode ==2" style="margin-left: 5px; margin-right: 5px; overflow:scroll; overflow-y:scroll; max-height:210px; min-height:210px; max-width:500px; background-color:rgba(0,0,0,0.5);">
<div style="text-align:center; margin:auto; width: 50%; height:50%; ">
<br>
<button ng-click="applyPaint()">Apply Paint</button>
<button ng-click="reloadPaint()">Reload Paint</button>
<br>
</div>
<br>
<div style="text-align:center; margin:auto; width: 50%; height:50%; ">
<ng-color ng-model="beamlrData['paint']['paintA']" presets-editable="false" show-preview="false" paint-number="1"></ng-color>
</div>
<div style="text-align:center; margin:auto; width: 50%; height:50%; ">
<ng-color ng-model="beamlrData['paint']['paintB']" presets-editable="false" show-preview="false" paint-number="2"></ng-color>
</div>
<div style="text-align:center; margin:auto; width: 50%; height:50%; ">
<ng-color ng-model="beamlrData['paint']['paintC']" presets-editable="false" show-preview="false" paint-number="3"></ng-color>
</div>
</div>

</div>

<div ng-if="beamlrData['playerWalking'] != 0">
<h2 style="text-align:center;" > Cannot use while walking. </h2>
</div>

<div ng-if="beamlrData['playerWalking'] == 0">
<div ng-if="beamlrData['triggerState'] != 2">
<h2 style="text-align:center;" > Get to a Garage! </h2>
</div>

<div ng-if="beamlrData['playerDamage'] != 0">
<h2 style="text-align:center;" > Vehicle must be fully repaired. </h2>
</div>

<div ng-if="beamlrData['vehicleRestricted'] == true">
<h2 style="text-align:center;" > Cannot edit event restricted vehicle. </h2>
</div>

</div>

</div>

<div ng-if="menuPage==4" style="">

<h3 style="text-align:center; line-height:0px;"> Tuning </h3>

<div ng-if="beamlrData['triggerState'] == 2 && beamlrData['playerDamage'] == 0 && beamlrData['playerWalking'] == 0">
<div style="overflow:scroll; overflow-y:scroll; max-height:220px; max-width:500px; margin-left:5px; margin-right:5px; background-color:rgba(0,0,0,0.5);" >



<div style="margin-bottom:20px;" ng-repeat="(cid, category) in beamlrData['tuningSortedCategories']">

<h3 style="margin:0; text-align:center;">&nbsp{{category}}</h3>

<table style="table-layout:fixed; width:95%; margin:auto;">
<tr style="width:100%;" ng-repeat="(fid, field) in beamlrData['tuningSortedFields'][category]">
<td style="width:40%">{{beamlrData['tuningData'][field]["title"]}}</td>
<td><md-slider flex style="width:100px;" min="{{beamlrData['tuningData'][field]['minDis']}}" max="{{beamlrData['tuningData'][field]['maxDis']}}" step="{{beamlrData['tuningData'][field]['stepDis']}}" ng-change="tuneChanged(field)" ng-model="beamlrData['tuningValues'][field]" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()">
</md-slider></td>
<td style="text-align:right;">{{getTuneData(field)}} &nbsp {{beamlrData['tuningData'][field]['unit']}}</td>
</tr>
</table>

</div>


<!--
<div ng-repeat="(key,value) in beamlrData['tuningData']">
<span style="float:left; transform:translate(5px, 20px)">{{value["title"]}} &nbsp </span>
<span>
<md-slider flex style="width:100px; transform: translate(200px, 10px); " min="{{value['minDis']}}" max="{{value['maxDis']}}" step="{{value['stepDis']}}" ng-change="tuneChanged(key)" ng-model="beamlrData['tuningValues'][key]" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()">
</md-slider>
</span>
<span style="float:right; transform:translate(-5px, -25px)">{{getTuneData(key)}} &nbsp {{value['unit']}}</span>
</div>
-->

</div>

<div>
<span>
<button style="float:left; margin-left:50px; transform:translate(0px, 5px)" ng-click="resetTune()"> Reset </button>
<button style="float:right; margin-right:50px; transform:translate(0px, 5px)" ng-click="applyTune()"> Apply </button>
</span>
</div>


</div>

<div ng-if="beamlrData['playerWalking'] != 0">
<h2 style="text-align:center;" > Cannot use while walking. </h2>
</div>

<div ng-if="beamlrData['playerWalking'] == 0">
<div ng-if="beamlrData['triggerState'] != 2">
<h2 style="text-align:center;" > Get to a Garage! </h2>
</div>

<div ng-if="beamlrData['playerDamage'] != 0">
<h2 style="text-align:center;" > Vehicle must be fully repaired. </h2>
</div>
</div>

</div>


<div ng-if="menuPage == 5" style="">

<h3 style="text-align:center; line-height:0px;">Track Events</h3>

<div ng-if="beamlrData['currentTrackEvent']['status'] != null && beamlrData['currentTrackEvent']['status'] != 'over'">

<h2 style="text-align:center; margin-top:0px; margin-bottom:0px;">Current Event Info</h2>

<div style="overflow:scroll; overflow-y:scroll; height: 190px; max-height:190px; max-width:500px; margin-left:5px; margin-right:5px; background-color:rgba(0,0,0,0.5);" >
<table style="width:100%; table-layout:fixed; vertical-align:top;">
<tr style="height:35px;"><td style="width: 150px; font-size:18px; font-weight:bold; text-align:center;">Title </td><td style="text-align:center;">{{beamlrData['currentTrackEvent']['title']}}</td></tr>
<tr style="height:35px;"><td style="width: 150px;font-size:18px; font-weight:bold; text-align:center;">Map </td><td style="text-align:center;">{{beamlrData['currentTrackEvent']['map']}}</td></tr>
<tr style="height:35px;"><td style="width: 150px;font-size:18px; font-weight:bold; text-align:center;">Status</td><td style="text-align:center;">{{beamlrData['currentTrackEvent']['status']}}</td></tr>
<tr style="height:35px;"><td style="width: 150px;font-size:18px; font-weight:bold; text-align:center;">Round</td><td style="text-align:center;">{{beamlrData['currentTrackEvent']['cround']}} / {{beamlrData['currentTrackEvent']['tround']}}</td></tr>
<tr style="height:35px;"><td style="width: 150px;font-size:18px; font-weight:bold; text-align:center;">Car Used</td><td style="text-align:center;">{{beamlrData['currentTrackEvent']['carname']}}</td></tr>
</table>
</div>

<p style="margin-left:5px; margin-right:5px; transform:translate(0px, -12px);"><span style="float:left;"><button ng-click="showEventBrowser()">Browse Events</button></span><span style="float:right;"><button ng-click="abandonEvent()" ng-if="beamlrData['currentTrackEvent']['status'] != 'over'">Abandon Event</button></span></p>

</div>

<div ng-if="beamlrData['currentTrackEvent']['status'] == 'over' || beamlrData['currentTrackEvent']['status'] == null">

<h2 style="text-align:center;">No event in progress</h2>

<p style="text-align:center; transform:translate(0px, -10px);"><button ng-click="showEventBrowser()">Browse Events</button></p>

</div>

</div>





<div ng-if="!showMenu" style="z-index: 9; position:relative;">


</div>
</div>
</div>