<div style="height: 100%; background-color:rgba(1.0,1.0,1.0,0.0);" class="bngApp beamlrui">

<img ng-if="showMenu == false" src="/ui/modules/apps/beamlrui/background.png" width=100% height=8% style="z-index:-1; transform:translate(0px,-2px);"/>
<img ng-if="showMenu == true" src="/ui/modules/apps/beamlrui/background.png" width=100% height=100% style="z-index:-1; transform:translate(0px,-2px);"/>

<pre style="display:block;">
<button ng-click="showMenuClick()" ng-if="showMenu" style="position:absolute; left:1%; top:1%;" >▲</button>
<button ng-click="showMenuClick()" ng-if="showMenu==false" style="position:absolute; left:1%; top:1%;" >▼</button>
<h1 ng-if="beamlrData['waitmsg'] != true" width=100% height=100% style="line-height:10px; position:absolute; left:50%; top:0%; transform: translate(-50%,0%)">BeamLR Main Menu</h1>
<h1 ng-if="beamlrData['waitmsg'] == true" width=100% height=100% style="line-height:10px; position:absolute; left:50%; top:0%; transform: translate(-50%,0%)">Loading. Please Wait.</h1>
</pre>


<div style="position:absolute; left:50%; top:10%; max-height=110px; transform: translate(-50%, 0%);" ng-if="showMenu" >

<table style="margin-left:auto; margin-right:auto;">
<tr>
<td style="line-height:0px;" ng-repeat="button in menuButtons">
<p><img ng-click="menuClick(button.id)" ng-attr-src="/ui/modules/apps/beamlrui/{{button.svg}}" width=90px height=90px /></p>
<p style="text-align:center;">{{button.name}}</p>
</td>
</tr>
</table>

<div ng-if="menuPage==0">
<h3 style="text-align:center; line-height:0px;"> Main Menu </h3>

<div style="z-index: 99; overflow:scroll; overflow-y:scroll; max-height:250px; max-width:500px; background-color:rgba(0,0,0,0.5)" >

<h2 style="text-align:center;">
Welcome to BeamLR<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Remember that this is a work in progress mod. Always back up the BeamLR folder before updating to a new version of the mod.
</p>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Feedback and suggestion are appreciated.<br><br> Thank you for testing this mod!
</p>

<h2 style="text-align:center;">
How to play<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
BeamLR brings gameplay through interactive areas added to the map, each area allowing for various actions.<br><br>

Interactive areas are shown using floating "collectible" markers. Here are the currently implemented areas:
</p>

<ul>
<li>Player Garage</li>
<li>Gas Station</li>
<li>Repair Shop</li>
<li>Car Shop</li>
<li>Mission Giver / Part Shop</li>
<li>Race Clubs</li>
<li>Daredevil Challenges</li>
</ul>


<h3 style="text-align:center;">
Player Garage<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
The player garage is where your vehicles are stored.<br>
Purchased or won vehicles are sent to your garage.<br><br> 
You can call a mechanic for on site repairs at a higher cost.<br>
Destroyed vehicles can be scrapped for money.<br>
Towing will place your vehicle at the garage.<br><br>

From the player garage you can also perform part edits, tuning and painting using the BeamLR Menu.<br>
Vehicle must be fully repaired. <br>
</p>

<h3 style="text-align:center;">
Gas Station<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Gas stations are used to refuel your vehicle. <br><br>
Gas price can be different for each station. It will also fluctuate daily.<br><br>
Newly purchased vehicles have empty gas tanks.<br><br>
Be careful not to run out of gas!
</p>

<h3 style="text-align:center;">
Repair Shop<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Repair shops allow you to repair your vehicles at a cheaper cost than on site repairs. Repair cost depends on extent of external and mechanical damage.<br><br>
You can also perform part edits, tuning and painting using the BeamLR menu. Vehicle must be fully repaired.<br><br>

Nitrous oxide bottles can be refilled at repair shops for a static price.<br>

</p>

<h3 style="text-align:center;">
Car Shop<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Car shops offer a daily restocked selection of vehicles for you to purchase. Sleep until next day to renew the selection.
Different shops may offer different stock and only sell some types of vehicles like used or new cars.<br><br>

Used vehicles have price values that follow the odometer value of the vehicle. Higher odometer means cheaper price.<br><br>

It is also possible to sell your vehicles at the shop. This mechanic is not fully implemented so current prices may not be fair.<br><br>

</p>

<h3 style="text-align:center;">
Mission Giver / Part Shop<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
The mission giver area is used to earn risk free money with simple delivery missions. This is where you can earn easy money.<br><br>
The area doubles as a part shop. Parts for your current vehicle can be purchased using the BeamLR menu.<br>
Purchased parts are sent to your part inventory and become available in the part edit menu.<br><br>
Note that all parts that potentially fit your vehicle are available for purchase.<br>Some parts may require other parts to be installed<br><br>
&#9888; symbol and yellow slot name indicate parts that won't currently fit your vehicle (ex: i6 parts don't fit in a v8).<br><br>
Click slot names to switch to internal name display. Internal names contain engine type (i6, v8, etc).<br><br>

Part shops have specific daily price changes as a percentage paid relative to regular price.<br><br>
Each shop can have a different daily price scale. Shops also have different range for this scale.<br><br>
Buying parts outside part shops is considered a remote purchase which is 150% of regular price.<br><br>
</p>


<h3 style="text-align:center;">
Race Clubs<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Race clubs deliver the main gameplay for this mod. This is where you find race events.
Different race clubs give different styles of races such as drag and dirt/offroad races.<br><br>

Race leagues provide a degree of progression to race clubs. Bronze league has slow opponents while Gold league has race configs.
Wagers and rep rewards increase with opponent difficulty as you progress through leagues.<br><br>

Reputation is currently only used for vehicle sell price scaling but will be used to unlock official races in a future version.<br><br>
A small amount of reputation is lost every day. To keep your rep up you must perform races or challenges.<br><br>

The final league for a club is called the "Hero" league. This league is endless and has no progression, with randomized opponents to make races replayable.<br><br>

Some races will deactivate traffic while others leave it on. Races with traffic are generally more risky and random.<br><br>

Some races will allow you to wager your vehicle "pink slips". After losing you will have to walk home or pay for a bus ride. Won vehicles are sent to your garage.<br><br>

For money races you can set a target wager using the options menu.<br><br>
If your bet is out of range for current opponent, race wager will be capped by opponent minimum and maximum.<br><br>
</p>

<h3 style="text-align:center;">
Daredevil Challenges<br>
</h3>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Daredevil Challenges area is used to wager money on various risky challenges.<br><br>
Challenges will award rep and money upon completion.<br><br>
Pay attention to challenge parameters to make sure your vehicle is capable of completing the challenge!<br><br>
</p>

<h2 style="text-align:center;">
Police, Tickets and Impounding<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Police vehicles can chase after and arrest you for various offenses. Each offense adds cost to your ticket. 
If you are caught and can't pay your ticket, your vehicle will be "impounded".<br><br>

Currently the impound mechanic works using the player garage. Impounded vehicles will be unavailable until you pay the outstanding ticket cost.<br><br>


Drive carefully!<br><br>
</p>

<h2 style="text-align:center;">
Health and Fatal Crashes<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Hard crashes (above 10G) will injure the player. Very hard crashes can be instantly fatal.<br><br>
Player Health is indicated in the stats UI.<br>If health drops to 0% your career will be reset.<br><br>

To restore health use the "Sleep/Heal" button in the stats UI. Sleep time can be set in the Options menu.<br><br>
Health value will also undergo a slow passive regeneration.<br><br>

Career can also be reset and backed up or restored using the Options menu.<br><br>

Drive carefully and keep an eye out for your health value after crashing!<br><br>
</p>

<h2 style="text-align:center;">
Career Parameters<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Career start difficulty and seed parameters can be changed from the options menu. All career related settings take effect after a career reset.<br><br>

Difficulty setting changes starting money amount.<br><br>

Career seed is used for the many RNG elements of the mod including starting vehicle, fluctuating prices and daily available shop vehicles.<br><br>

Seed can be set to auto increment on career reset to constantly get a new seed. It can also be set manually.<br><br>
</p>


<h2 style="text-align:center;">
Various Tips<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
If you see "Loading. Please Wait." on the BeamLR Menu, do not spam buttons. Some actions take a bit of time to process.<br><br>
Don't like available shop vehicles?<br> Sleep until the next day to get new stock.<br><br>
Keep in mind you lose some amount of reputation every in game day. Perform races or challenges to keep your rep up!<br><br>
BeamLR menu having issues?<br> Hit CTRL+F5 to refresh the UI.<br><br>
Input fields may stop registering keystrokes if the mouse cursor isn't hovering.<br><br>
You can rename vehicles using the Options menu<br><br>
There may be beamstate issues with "advanced couplers" vehicles with animated doors and hood hinges.<br> Repair after spawn to fix the issue.<br><br>
Vehicle stuck upside down?<br> Nodegrabber is enabled with restricted force for this purpose.<br><br>
Bad performance with lots of traffic?<br> Use the Options menu to change traffic density.<br><br>
Options menu can be used to change the random seed for the next career. Current seed can be changed by editing the "options" file.<br><br>
There is currently no autosave mechanic. If you forcefully quit the game some progress may be lost.<br><br>
</p>

<h2 style="text-align:center;">
Known Issues<br>
</h2>

<p style="margin-left:10px; margin-right:10px; text-align:center;">
Here are some known issues with this mod, please refer to this list before reporting problems.

<ul>
<li>
Beamstate saving breaks advanced coupler beams, doors won't close, hood won't open. 
Current best workaround is to simply repair the vehicle.
</li>
<li>
Towing mechanic may repair your vehicle. This is due to problems with a teleport function that shouldn't cause a reset yet sometimes does.
</li>
<li>
Some tuning configurations can cause unfair damage when a vehicle is loaded. A workaround is implemented but may fail to work in certain situations.
</li>
<li>
Various UI problems, input fields stop registering keystrokes, whole UI can refuse to work. Workaround is to keep cursor above input fields. CTRL+F5 to fix the frozen UI.
</li>
<li>
Race checkpoints could fail to trigger properly. Fix has been implemented.
</li>


</ul>

</p>


</div>

</div>

<div ng-if="menuPage==1">
<h3 style="text-align:center; line-height:0px;"> Options </h3>

<div style="z-index: 99; margin-left: 5px; margin-right: 5px; overflow:scroll; overflow-y:scroll; max-height:250px; max-width:500px; background-color:rgba(0,0,0,0.5)">

<h3 style="text-align:center;">&nbsp General </h3>

<p style="text-align:center;"> 
Player Name 
<input type="text" ng-model="inputData.name" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setNameClick()">Set</button>
</p>

<p style="text-align:center;"> 
Vehicle Name 
<input type="text" ng-model="inputData.vehname" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setVehNameClick()">Set</button>
</p>

<p style="text-align:center;"> 
Sleep Duration (Hours)  
<input type="number" max=24.0 min=0.5 step=0.5 size=5 maxlength=5 ng-model="inputData.sleepTime" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setSleepDuration(inputData.sleepTime)">Set</button>
</p>


<span style="float:left; transform:translate(40px, 0px)">Target Wager &nbsp </span>
<span>
<md-slider flex style="width:130px; transform: translate(150px, -10px); " min="100" max="5000" step="1" ng-model="inputData.targetWager" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()">
</md-slider>
</span>
<span style="float:right; transform:translate(-95px, -45px); width:50px">${{inputData.targetWager}}</span>
<span style="float:right; transform:translate(0px, -45px)">
<button ng-click="setTargetWager(inputData.targetWager)">Set</button>
</span>


<p style="text-align:center; transform:translate(40px,-20px); width:350px;"> 
Race Opponent Random Paint
<button ng-click="setOpponentRandomPaint(1)">On</button>
<button ng-click="setOpponentRandomPaint(0)">Off</button>
</p>

<h3 style="text-align:center;"> Traffic </h3>

<p style="text-align:center;"> Note: Requires scenario restart to take effect </p>

<p style="text-align:center;"> 
Traffic Density  
<button ng-click="setTrafficDensity(0)">Off</button>
<button ng-click="setTrafficDensity(3)">Light</button>
<button ng-click="setTrafficDensity(6)">Medium</button>
<button ng-click="setTrafficDensity(10)">Heavy</button>
<button ng-click="setTrafficDensity(18)">Max</button>
</p>

<p style="text-align:center;"> 
Police Density 
<button ng-click="setPoliceDensity(0)">Off</button>
<button ng-click="setPoliceDensity(1)">Light</button>
<button ng-click="setPoliceDensity(2)">Medium</button>
<button ng-click="setPoliceDensity(3)">Heavy</button>
<button ng-click="setPoliceDensity(4)">Max</button>
</p>

<p style="text-align:center;"> 
Truck Density 
<button ng-click="setTruckDensity(0)">Off</button>
<button ng-click="setTruckDensity(1)">Light</button>
<button ng-click="setTruckDensity(2)">Medium</button>
<button ng-click="setTruckDensity(3)">Heavy</button>
<button ng-click="setTruckDensity(4)">Max</button>
</p>

<p style="text-align:center;"> 
Traffic Risk 
<input type="number" min=0 max=1 step=0.01 maxlength=10 size=5 ng-model="inputData.trisk" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setTrafficRisk(inputData.trisk)">Set</button>
</p>

<p style="text-align:center;"> 
Police Strictness
<input type="number" min=0 max=1 step=0.01 size=5 ng-model="inputData.copstrict" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setPoliceStrictness(inputData.copstrict)">Set</button>
</p>

<h3 style="text-align:center;"> Career </h3>

<p style="text-align:center;"> 
Current Career Seed: {{beamlrData['seed']}}
</p>

<p style="text-align:center;"> Note: Next seed takes effect after career reset </p>

<p style="text-align:center;"> 
Next Seed
<input type="text" maxlength=10 size=11 ng-model="inputData.seed" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="setSeed()">Set</button>
<button ng-click="setRandomSeed()">Random</button>
</p>

<p style="text-align:center;"> 
Auto Increment Seed 
<button ng-click="setAutoSeed('true')">On</button>
<button ng-click="setAutoSeed('false')">Off</button>
</p>

<br>

<p style="text-align:center;"> Note: Difficulty takes effect after career reset </p>

<p style="text-align:center;"> 
Difficulty Level
<button ng-click="setDifficulty('easy')">Easy</button>
<button ng-click="setDifficulty('medium')">Medium</button>
<button ng-click="setDifficulty('hard')">Hard</button>
</p>

<br>

<p style="text-align:center;"> 
Career Backup
<button ng-click="backupCareer()">Save</button>&nbsp &nbsp &nbsp &nbsp
<button ng-click="restoreBackup()">Load</button>
</p>

<br>

<p style="text-align:center; color:yellow;"> 
Reset Career (WARNING: PERMANENT)
<button ng-if="resetConfirm == false" ng-click="resetCareer()">Reset Career</button>
<button ng-if="resetConfirm == true" ng-click="resetCareer()">Confirm Reset?</button>
</p>

<br>

<h3 style="text-align:center;"> Advanced </h3>

<p style="text-align:center;"> Note: Use the "Fix Cops" button only if police chases player without pursuit UI showing. Do not use when pursuit UI is showing to avoid further bugs with police system.</p>

<p style="text-align:center;"> 
Manual Police Role Fix
<button ng-click="forcedCopfix()">Fix Cops</button>
</p>

<p style="text-align:center;"> Note: Automatic fixing may impact performance with large amounts of police vehicles.</p>


<p style="text-align:center;"> 
Automatic Police Role Fix
<button ng-click="autoCopfix(1)">On</button>
<button ng-click="autoCopfix(0)">Off</button>
</p>


<p style="text-align:center;"> Note: Use beamstate toggle to workaround issues with advanced couplers.</p>


<p style="text-align:center;"> 
Beamstate Toggle 
<button ng-click="beamstateToggle(1)">On</button>
<button ng-click="beamstateToggle(0)">Off</button>
</p>


<p style="text-align:center;"> Note: Use below button to attempt coupler reset after beamstate loading breaks them (game may crash).</p>

<p style="text-align:center;"> 
Reset Advanced Couplers
<button ng-click="resetCouplers()">Reset</button>
</p>


<br>



</div>


</div>

<div ng-if="menuPage==2">
<h3 style="text-align:center; line-height:0px;"> Buy Parts ({{beamlrData['shopPriceScale'] * 100.0 | number:0}}% Cost)</h3>

<div ng-if="(beamlrData['triggerState'] == 1 || beamlrData['triggerState'] == 2) && beamlrData['playerWalking'] == 0">

<div style="text-align:center; transform:translate(0, -5px);" >
<button ng-click="filter(0,'all')">All</button> 
<button ng-click="filter(0,'body')">Body</button> 
<button ng-click="filter(0,'engine')">Engine</button> 
<button ng-click="filter(0,'suspension')">Suspension</button> 
<button ng-click="filter(0,'wheel')">Wheel</button> 
<input style="width:75px" type="text" ng-model="inputData.searchFilter" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="search(0)">&#x1F50D</button>
</div>

<div style="z-index: 99; overflow:scroll; overflow-y:scroll; max-height:220px; min-height:220px; max-width:470px; min-width:470px; background-color:rgba(0,0,0,0.5);" >
<div ng-repeat="(key,value) in beamlrData['availParts']">

<div style="text-align:center; font-weight: bold; font-size:20px; width:463px; line-height:40px;" ng-if="beamlrData['slotNames'][key] != null && slotNameMode != 1">
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
<span ng-if="beamlrData['usedParts'][key] != null" style="text-align:center; transform:translate(20px, 0px);" ng-click="setSlotNameMode(1)"> {{beamlrData['slotNames'][key]}} </span>
<span ng-if="beamlrData['usedParts'][key] == null" style="text-align:center; transform:translate(20px, 0px); color:yellow;" ng-click="setSlotNameMode(1)"> {{beamlrData['slotNames'][key]}} &nbsp &#9888;</span>
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
</div>

<div style="text-align:center; font-weight: bold; font-size:20px; width:463px; line-height:40px;" ng-if="beamlrData['slotNames'][key] == null || slotNameMode == 1">
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
<span ng-if="beamlrData['usedParts'][key] != null" style="text-align:center; transform:translate(20px, 0px);" ng-click="setSlotNameMode(0)"> {{key}} </span>
<span ng-if="beamlrData['usedParts'][key] == null" style="text-align:center; transform:translate(20px, 0px); color:yellow;" ng-click="setSlotNameMode(0)"> {{key}} &nbsp &#9888;</span>
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
</div>

<div ng-if="visibleSlots[key] == true" style="margin-left:5px; line-height:100px;" ng-repeat="part in value"> 

<span style="float:left; height:90px; transform:translate(0px, 5px);">
<img ng-if="beamlrData['partpreview'][part] != null" ng-attr-src="/ui/modules/apps/beamlrui/partimg/{{beamlrData['partpreview'][part]}}" width=90px height=90px />
<img ng-if="beamlrData['partpreview'][part] == null" src="/ui/modules/apps/beamlrui/partimg/none.png" width=90px height=90px />
</span>

<span ng-if="beamlrData['usedParts'][key] != part && (beamlrData['ownedParts'][part] == null || beamlrData['ownedParts'][part] == 0)" style="transform:translate(20px, 0px); display:inline-block; text-align:center; line-height:20px; width: 200px; margin-left:20px; vertical-align:middle; overflow-wrap:break-word;">{{beamlrData['partNames'][part]}}</span>
<span ng-if="beamlrData['usedParts'][key] != part && beamlrData['ownedParts'][part] > 0" style="transform:translate(20px, 0px); display:inline-block; text-align:center; line-height:20px; width: 200px; margin-left:20px; vertical-align:middle; overflow-wrap:break-word;">{{beamlrData['partNames'][part]}} (OWN {{beamlrData['ownedParts'][part]}})</span>
<span ng-if="beamlrData['usedParts'][key] == part" style="transform:translate(20px, 0px); display:inline-block; text-align:center; line-height:20px; width: 200px; margin-left:20px; vertical-align:middle; overflow-wrap:break-word;">{{beamlrData['partNames'][part]}} (INSTALLED)</span>


<span style="float:right; margin-right:5px; vertical-align:middle;">
<span ng-if="beamlrData['partPrices'][part] == null">${{beamlrData['partPrices']['default'] * beamlrData['shopPriceScale'] | number:2}}</span>
<span ng-if="beamlrData['partPrices'][part] != null">${{beamlrData['partPrices'][part] * beamlrData['shopPriceScale'] | number:2}}</span>
<button ng-click="shopPartClick(part)">Buy</button>
</span>

</div>
</div>
</div>
</div>

<div ng-if="beamlrData['playerWalking'] == 0">
<div ng-if="beamlrData['triggerState'] != 1 && beamlrData['triggerState'] != 2">
<h2 style="text-align:center;" > Get to a Shop or Garage! </h2>
</div>
</div>

<div ng-if="beamlrData['playerWalking'] != 0">
<h2 style="text-align:center;" > Cannot use while walking. </h2>
</div>


</div>

<div ng-if="menuPage==3">
<h3 ng-if="editMode == 0" style="text-align:center; line-height:0px;"> Edit Car Parts </h3>
<h3 ng-if="editMode == 1" style="text-align:center; line-height:0px;"> Edit Car Paint </h3>
<div ng-if="beamlrData['triggerState'] == 2 && beamlrData['playerDamage'] == 0 && beamlrData['playerWalking'] == 0" >

<div style="text-align:center; transform:translate(0, -5px);" >



<button ng-if="editMode == 0" ng-click="setEditMode(1)" style="width:40px; border-radius:10px; ">&#127912;</button> 
<button ng-if="editMode == 1" ng-click="setEditMode(0)" style="width:40px; border-radius:10px; ">&#128736;</button> 
<button ng-click="filter(1,'all')">All</button> 
<button ng-click="filter(1,'body')">Body</button> 
<button ng-click="filter(1,'engine')">Engine</button> 
<button ng-click="filter(1,'suspension')">Susp</button>
<button ng-click="filter(1,'wheel')">Wheel</button> 
<input style="width:75px" type="text" ng-model="inputData.searchFilter" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()" />
<button ng-click="search(1)">&#x1F50D</button>
</div>

<div ng-if="editMode == 0" style="z-index: 99; margin-left: 20px; margin-right: 20px; overflow:scroll; overflow-y:scroll; min-height:220px; max-height:220px; background-color:rgba(0,0,0,0.5); max-width:470px; min-width:470px;">
<div ng-repeat="(key,value) in beamlrData['garageData']">

<div style="text-align:center; font-weight: bold; font-size:20px; width:463px; line-height:40px;" ng-if="beamlrData['slotNames'][key] != null && slotNameMode != 1">
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
<span style="text-align:center; transform:translate(20px, 0px);" ng-click="setSlotNameMode(1)"> {{beamlrData['slotNames'][key]}} </span>
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
</div>

<div style="text-align:center; font-weight: bold; font-size:20px; width:463px; line-height:40px;" ng-if="beamlrData['slotNames'][key] == null || slotNameMode == 1">
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:left; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
<span style="text-align:center; transform:translate(20px, 0px);" ng-click="setSlotNameMode(0)"> {{key}} </span>
<span ng-if="visibleSlots[key] == null || visibleSlots[key] == false" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, true)">+</span>
<span ng-if="visibleSlots[key] == true" style="float:right; text-align:center; width:40px;" ng-click="slotToggle(key, false)">-</span>
</div>

<div ng-if="visibleSlots[key] == true && beamlrData['usedParts'][key] != ''" style="text-align:center; line-height:100px;">
<span style="float:left; margin-left:20px; transform:translate(0,5px); height:90px; vertical-align:middle;">
<img ng-if="beamlrData['partpreview'][beamlrData['usedParts'][key]] != null" ng-attr-src="/ui/modules/apps/beamlrui/partimg/{{beamlrData['partpreview'][beamlrData['usedParts'][key]]}}" width=90px height=90px />
<img ng-if="beamlrData['partpreview'][beamlrData['usedParts'][key]] == null" src="/ui/modules/apps/beamlrui/partimg/none.png" width=90px height=90px />
</span>
<span ng-if="beamlrData['usedParts'][key] != item" style="display:inline-block; width: 150px; line-height:20px; vertical-align:middle; overflow-wrap:break-word;">{{beamlrData['partNames'][beamlrData['usedParts'][key]]}}</span>
<span style="float:right; margin-right:20px; vertical-align:middle;">
<button ng-click="garagePartClick(key,'')">Remove Part</button>
</span>
</div>

<div ng-if="visibleSlots[key] == true">
<div ng-repeat="item in value" >
<div ng-if="beamlrData['usedParts'][key] != item" style="text-align:center; line-height:100px;" >
<span style="float:left; margin-left:20px; transform:translate(0,5px); height:90px; vertical-align:middle;">
<img ng-if="beamlrData['partpreview'][item] != null" ng-attr-src="/ui/modules/apps/beamlrui/partimg/{{beamlrData['partpreview'][item]}}" width=90px height=90px />
<img ng-if="beamlrData['partpreview'][item] == null" src="/ui/modules/apps/beamlrui/partimg/none.png" width=90px height=90px />
</span>

<span style="display:inline-block; width: 150px; line-height:20px; vertical-align:middle; overflow-wrap:break-word;">{{beamlrData['partNames'][item]}}</span>


<span style="float:right; margin-right:20px; vertical-align:middle;">
<button style="width:90px;" ng-click="garagePartClick(key,item)">Use</button>
</span>
</div>
</div>

</div>
</div>
</div>

<div ng-if="editMode ==1" style="z-index: 99; margin-left: 20px; margin-right: 20px; overflow:scroll; overflow-y:scroll; min-height:220px; max-height:220px; background-color:rgba(0,0,0,0.5); max-width:470px; min-width:470px;">
<div style="text-align:center; margin:auto; width: 50%; height:50%; ">
<br>
<button ng-click="applyPaint()">Apply Paint</button>
<button ng-click="reloadPaint()">Reload Paint</button>
<br>
</div>
<br>
<div style="text-align:center; margin:auto; width: 50%; height:50%; ">
<ng-color ng-model="beamlrData['paint']['paintA']" presets-editable="false" show-preview="false" paint-number="1"></ng-color>
</div>
<div style="text-align:center; margin:auto; width: 50%; height:50%; ">
<ng-color ng-model="beamlrData['paint']['paintB']" presets-editable="false" show-preview="false" paint-number="2"></ng-color>
</div>
<div style="text-align:center; margin:auto; width: 50%; height:50%; ">
<ng-color ng-model="beamlrData['paint']['paintC']" presets-editable="false" show-preview="false" paint-number="3"></ng-color>
</div>
</div>

</div>

<div ng-if="beamlrData['playerWalking'] != 0">
<h2 style="text-align:center;" > Cannot use while walking. </h2>
</div>

<div ng-if="beamlrData['playerWalking'] == 0">
<div ng-if="beamlrData['triggerState'] != 2">
<h2 style="text-align:center;" > Get to a Garage! </h2>
</div>

<div ng-if="beamlrData['playerDamage'] != 0">
<h2 style="text-align:center;" > Vehicle must be fully repaired. </h2>
</div>
</div>

</div>

<div ng-if="menuPage==4">

<h3 style="text-align:center; line-height:0px;"> Tuning </h3>

<div ng-if="beamlrData['triggerState'] == 2 && beamlrData['playerDamage'] == 0 && beamlrData['playerWalking'] == 0">
<div style="z-index: 99; overflow:scroll; overflow-y:scroll; max-height:220px; max-width:500px; background-color:black;" >
<div ng-repeat="(key,value) in beamlrData['tuningData']">
<span style="float:left; transform:translate(5px, 20px)">{{value["title"]}} &nbsp </span>
<span>
<md-slider flex style="width:100px; transform: translate(200px, 10px); " min="{{value['minDis']}}" max="{{value['maxDis']}}" step="{{value['stepDis']}}" ng-change="tuneChanged(key)" ng-model="beamlrData['tuningValues'][key]" ng-focus="textboxClick()" ng-mouseup="textboxHover()" ng-mouseenter="textboxHover()">
</md-slider>
</span>
<span style="float:right; transform:translate(-5px, -25px)">{{getTuneData(key)}} &nbsp {{value['unit']}}</span>
</div>
</div>

<div>
<span>
<button style="float:left; margin-left:50px; transform:translate(0px, 10px)" ng-click="resetTune()"> Reset </button>
<button style="float:right; margin-right:50px; transform:translate(0px, 10px)" ng-click="applyTune()"> Apply </button>
</span>
</div>


</div>

<div ng-if="beamlrData['playerWalking'] != 0">
<h2 style="text-align:center;" > Cannot use while walking. </h2>
</div>

<div ng-if="beamlrData['playerWalking'] == 0">
<div ng-if="beamlrData['triggerState'] != 2">
<h2 style="text-align:center;" > Get to a Garage! </h2>
</div>

<div ng-if="beamlrData['playerDamage'] != 0">
<h2 style="text-align:center;" > Vehicle must be fully repaired. </h2>
</div>
</div>

</div>




</div>





<div ng-if="!showMenu">


</div>
</div>