<div class="bngApp beamlrtrackeventui" style="background-color:transparent; height:100%;" >

<div ng-if="enabled==true" style="background-color:rgba(0.0,0.0,0.0,0.7); height:100%; z-index:9999; position:relative;">

<span ng-click="toggleui()" style="float:left; text-align:center; transform:translate(0px, 0px); width:40px; font-size:30px;">X</span>



<h1 style="text-align:center; line-height:50px; margin:auto; width:800px;">{{eventdata['title']}}</h1>

<h2 style="text-align:center">Leaderboard (Round {{eventdata['cround']}}/{{eventdata['rounds']}})</h2>

<div style="text-align:center">
<span style="transform:translate(-80px, 0px); display:inline-block; font-size:20px; width:100px;">Position</span>
<span style="display:inline-block; font-size:20px; width:300px;">Name</span>
<span ng-if="eventdata['bossmode'] != true" style="transform:translate(50px, 0px); display:inline-block; font-size:20px; width:100px;">Time</span>
<span ng-if="eventdata['bossmode'] == true" style="transform:translate(50px, 0px); display:inline-block; font-size:20px; width:100px;">Score</span>

</div>

<div style="overflow-y:scroll; max-height:200px; min-height:200px; max-width:700px; min-width:700px; margin: 0 auto; background-color:rgba(0.0,0.0,0.0,0.5);">
<div ng-repeat="(position,name) in leaderboard['name']">

<div style="text-align:center; line-height:40px;">
<span style="transform:translate(-80px, 0px); display:inline-block; font-size:20px; width:100px;">{{position + 1}}</span>
<span style="display:inline-block; font-size:20px; width:300px;">{{name}}</span>
<span ng-if="eventdata['bossmode'] != true" style="transform:translate(50px, 0px); display:inline-block; font-size:20px; width:120px;">{{leaderboard['time'][position]}}</span>
<span ng-if="eventdata['bossmode'] == true" style="transform:translate(50px, 0px); display:inline-block; font-size:20px; width:120px;">{{leaderboard['score'][position]}}</span>
</div>

</div>
</div>


<div ng-if="eventdata['status']!='finished' && eventdata['status']!='over'">

<h1 style="text-align:center; margin:5px;">Event Rewards</h1>

<table style="text-align:center; margin:auto; width:90%;">
<tr>
<td style="text-align:left; font-size:20px; font-weight:bold; width:30%;">Money (1st, 2nd, 3rd)</td>
<td style="text-align:right; font-size:20px; font-weight:bold; width:50%;">{{eventdata['moneyreward']}}</td>
</tr>
<tr>
<td style="text-align:left; font-size:20px; font-weight:bold; width:30%;">Reputation (1st, 2nd, 3rd)</td>
<td style="text-align:right; font-size:20px; font-weight:bold; width:50%;">{{eventdata['repreward']}}</td>
</tr>
<tr>
<td style="text-align:left; font-size:20px; font-weight:bold; width:30%;">Parts (1st)</td>
<td style="text-align:right; font-size:20px; font-weight:bold; width:50%;">{{eventdata['partreward']}}</td>
</tr>
<tr>
<td style="text-align:left; font-size:20px; font-weight:bold; width:30%;">Vehicle (1st)</td>
<td style="text-align:right; font-size:20px; font-weight:bold; width:50%;">{{eventdata['carreward']}}</td>
</tr>
</table>

</div>

<div ng-if="eventdata['status']=='finished' || eventdata['status']=='over'">

<h1 style="text-align:center; margin:5px;">Your Rewards</h1>

<table style="text-align:center; margin:auto; width:90%;">
<tr>
<td style="text-align:left; font-size:20px; font-weight:bold; width:30%;">Money</td>
<td style="text-align:right; font-size:20px; font-weight:bold; width:50%;">{{rewards['moneyreward']}}</td>
</tr>
<tr>
<td style="text-align:left; font-size:20px; font-weight:bold; width:30%;">Reputation</td>
<td style="text-align:right; font-size:20px; font-weight:bold; width:50%;">{{rewards['repreward']}}</td>
</tr>
<tr>
<td style="text-align:left; font-size:20px; font-weight:bold; width:30%;">Parts</td>
<td style="text-align:right; font-size:20px; font-weight:bold; width:50%;">{{rewards['partreward']}}</td>
</tr>
<tr>
<td style="text-align:left; font-size:20px; font-weight:bold; width:30%;">Vehicle</td>
<td style="text-align:right; font-size:20px; font-weight:bold; width:50%;">{{rewards['carreward']}}</td>
</tr>
</table>

</div>


</div>
<div ng-if="enabled==false" style="z-index:9; position:relative;">
</div>

</div>