<div class="bngApp beamlrtrackeventbrowser" ng-show="enabled==true" aria-hidden="enabled==false" style="background-color:transparent; height:100%; pointer-events:auto;" >

<div ng-if="enabled==true" style="background-color:rgba(0.0,0.0,0.0,0.7); height:100%; z-index:9999; position:relative;">

<span ng-click="toggleui()" style="float:left; text-align:center; transform:translate(0px, 0px); width:40px; font-size:30px;">X</span>

<h1 style="text-align:center; margin:auto; width:400px; line-height:50px;">Track Event Browser</h1>

<table style="margin:auto; width:99%; height:550px; table-layout:fixed;">
<tr>
<td style="background-color:rgba(0.0,0.0,0.0,0.0); vertical-align:top;">
<h2 style="text-align:center; margin-top:10px;">Event List</h2>

<div style="margin:auto; overflow-y:scroll; max-height:470px;" >
<div ng-repeat="(key,value) in eventlist">
<div ng-click="eventSelected(value['file'], key)" style="margin-right:5px; margin-top: 10px; margin-bottom:10px; overflow:auto; border:2px solid white; border-radius:5px;" >
<div>
<p style="margin-left: 10px; margin-right: 10px; margin-top:0px; margin-bottom:0px; text-align:left; font-size:21px; font-weight:bold;">{{value["title"]}}</p>
<p style="margin-left: 10px; margin-top:0px; margin-bottom:0px; text-align:left; font-size:15px; font-weight:bold;">Map: {{value["map"]}}</p>
<p style="margin-top: 0px; margin-bottom:0px;"> 
<span style="margin-left: 10px; float:left; font-size:15px; font-weight:bold;">Cost: {{value["joincost"]}}</span>
<span ng-if="eventlist[key]['joined'] == false && playerdata['rep'] >= eventlist[key]['repunlock']" style="float:right; font-size:20px; font-weight:bold; margin-right:10px; color:green;">Unlocked</span>
<span ng-if="eventlist[key]['joined'] == false && playerdata['rep'] < eventlist[key]['repunlock']" style="float:right; font-size:20px; font-weight:bold; margin-right:10px; color:red;">Locked (Need {{value["repunlock"]}} rep)</span>
<span ng-if="eventlist[key]['joined'] == true" style="float:right; font-size:20px; font-weight:bold; margin-right:10px; text-color:green;">Joined</span>
</p>
</div>
</div>
</div>
</div>

</td>
<td style="background-color:rgba(0.0,0.0,0.0,0.0); vertical-align:top;">
<div ng-if="selected==true">
<h2 style="text-align:center; margin-top:10px;">Selected Event</h2>
<div style="margin:auto; overflow-y:scroll; max-height:470px;" >
<h2 style="text-align:center; margin-top:10px;">Info</h2>

<table style="width:99%; text-align:center; font-size:18px; table-layout:fixed;">
<tr><td style="font-weight:bold; float:left; margin-left:10px;">Title</td><td>{{eventdata['title']}}</td></tr>
<tr><td style="font-weight:bold; float:left; margin-left:10px;">Map,Layout</td><td>{{eventdata['map']}},{{eventdata['layout']}}</td></tr>
<tr><td style="font-weight:bold; float:left; margin-left:10px;">Time</td><td>{{eventdata['timeofday']}}</td></tr>
<tr><td style="font-weight:bold; float:left; margin-left:10px;">Rounds</td><td>{{eventdata['rounds']}}</td></tr>
<tr><td style="font-weight:bold; float:left; margin-left:10px;">Laps</td><td>{{eventdata['laps']}}</td></tr>
<tr><td style="font-weight:bold; float:left; margin-left:10px;">Opponents</td><td>{{eventdata['opcount']}}</td></tr>
<tr><td style="font-weight:bold; float:left; margin-left:10px;">Pit Lane</td><td ng-if="eventdata['pitlane'] == 'true'">Yes</td><td ng-if="eventdata['pitlane'] == 'false'">No</td></tr>
</table>

<h2 style="text-align:center; margin-top:10px;">Rewards</h2>

<table style="width:99%; text-align:center; font-size:18px; table-layout:fixed;">
<tr><td style="font-weight:bold; float:left; margin-left:10px;">Money (1st,2nd,3rd)</td><td>{{eventdata['moneyreward']}}</td></tr>
<tr><td style="font-weight:bold; float:left; margin-left:10px;">Rep (1st,2nd,3rd)</td><td>{{eventdata['repreward']}}</td></tr>
<tr ng-if="eventdata['partreward']!='none'"><td style="font-weight:bold; float:left; margin-left:10px;">Parts (1st)</td><td style="word-break:break-word;">{{eventdata['partreward'].replace(',', ' ')}}</td></tr>
<tr ng-if="eventdata['carreward']!='none'"><td style="font-weight:bold; float:left; margin-left:10px;">Vehicle (1st)</td><td>{{eventdata['carreward']}}</td></tr>
</table>

<h2 style="text-align:center; margin-top:10px;">Inspection</h2>

<div ng-if="cardata['walking'] == false && vehdamage <= 0">
<table style="width:97%; text-align:center; font-size:18px; table-layout:fixed; margin-left:10px; margin-right:10px;">
<tr><td style="font-weight:bold; float:left;">Required</td><td>Your Vehicle</td></tr>
<tr><td style="font-weight:bold; float:left;">Brand: {{eventdata['allowedbrand']}}</td><td>{{cardata['brand']}}</td></tr>
<tr><td style="font-weight:bold; float:left;">Model: {{eventdata['allowedmodel']}}</td><td>{{cardata['uiname']}}</td></tr>
<tr><td style="font-weight:bold; float:left; width:250px; text-align:left;">Performance Class: {{eventdata['perfclass']}}</td><td>{{cardata['perfclass']}}</td></tr>
<tr><td style="font-weight:bold; float:left;">Powertrain: {{eventdata['powertrain']}}</td><td>{{cardata['powertrain']}}</td></tr>
<tr><td style="font-weight:bold; float:left;">Induction: {{eventdata['induction']}}</td><td>{{cardata['induction']}}</td></tr>
</table>

<div ng-if="inspection == true" style="text-align:center">
<h2>Vehicle passes inspection</h2>
<div ng-if="playerdata['rep'] >= eventdata['reputation']">
<div ng-if="playerdata['money'] >= eventdata['joincost']">
<div ng-if="currentevent['status'] == 'over'">
<p><button ng-click="joinEvent(eventdata['efile'], selectedID)">Join Event (Cost: {{eventdata['joincost']}})</button></p>
</div>
<div ng-if="currentevent['status'] != 'over' && eventdata['efile'] == currentevent['efile']">
<h3>Event joined!</h3>
</div>
<div ng-if="currentevent['status'] != 'over' && eventdata['efile'] != currentevent['efile']">
<h3>Already joined another event!</h3>
</div>
</div>
<div ng-if="playerdata['money'] < eventdata['joincost']">
<h3>Need ${{eventdata['joincost']}} to join</h2>
</div>
</div>
<div ng-if="playerdata['rep'] < eventdata['reputation']">
<h3>Need {{eventdata['reputation']}} rep to unlock</h2>
</div>
</div>

<div ng-if="inspection == false" style="text-align:center">
<h2>Vehicle fails inspection</h2>
</div>

</div>

<div ng-if="cardata['walking'] == true">
<h2 style="text-align:center; margin-top:10px;">Cannot join while walking!</h2>
</div>

<div ng-if="vehdamage > 0">
<h2 style="text-align:center; margin-top:10px;">Car must be fully repaired!</h2>
</div>

</div>





</div>
<div ng-if="selected==false">

<h2 style="text-align:center; margin-top:10px;">Select event to view details.</h2>


</div>

</td>
</tr>
</table>

</div>

<div ng-if="enabled == false" style="z-index:8; position:relative;">


</div>

</div>