<div class="bngApp beamlrdeliveryui" style="background-color:transparent; height:100%;" >

<div ng-if="enabled==true" style="background-color:rgba(0.0,0.0,0.0,0.0); height:100%;">

<div ng-if="damage==true" style="height:40px; margin-top:18px;">
<table style="width:95%; table-layout:fixed; font-weight:bold; color:black; height:30px; margin:auto; text-align:center; font-size:17px; transform:translate(0px,37px); z-index:10;">
<tr style="width:100%">
<td style="width:50%;">{{"beamlr.deliveryui.damage" | translate}}:</td>
<td style="width:50%">{{formatValue(cdmg) | number:1}}%</td>
</tr>
</table>

<div style="width:100%; height:40px; text-align:center; position:relative; z-index:-1; background-color:rgba(0.0,0.0,0.0,0.5);">
<meter style="height:40px; width:95%; margin-top:4px;" value="{{cdmg}}" max="100" high="80" low="50" optimum="25" min="0"></meter>
</div>
</div>

<div ng-if="damage==false" style="margin-top:58px;"></div>

<div>
<table style="width:95%; table-layout:fixed; font-weight:bold; color:black; height:30px; margin:auto; text-align:center; font-size:16px; transform:translate(0px,34px); z-index:10;">
<tr style="width:100%">
<td style="width:40%">{{"beamlr.deliveryui.acceleration" | translate}}:</td>
<td style="width:20%">{{formatValue(cforce) | number:1}}Gs</td>
<td style="width:7%">/</td>
<td style="width:20%">{{mforce}}Gs</td>
</tr>
</table>

<div style="width:100%; height:40px; text-align:center; position:relative; z-index:-1; background-color:rgba(0.0,0.0,0.0,0.5);">
<meter style="height:40px; width:95%;" value="{{cforce}}" max="{{mforce}}" high={{mforce*0.8}} low={{mforce*0.5}} optimum={{mforce*0.25}} min="0"></meter>
</div>
</div>

</div>

</div>